#map-container {
    position: relative;
}

header {
    margin: 0;
    padding: 0;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 112, 150);
}

#limparMapa.limparBotao {
    position: absolute;
    top: 130px;
    left: 10px;
    z-index: 1000;
    margin: 0;
    padding: 7px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
    border: 2px solid rgba(170, 170, 170, 0.8);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#limparMapa.limparBotao:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 50, 50, 0.8); /* Cor de fundo quando o botão é hover */
}

#map {
    margin: 0;
    padding: 0;
    height: 70vh;
}

body {
    margin: 0;
    padding: 0;
}



.logo {
    max-width: 100%;
    height: auto;
}

nav {
    margin: 0;
    padding: 0;
    height: 5vh;
    background-color: rgb(120, 180, 210);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    display: inline-block;
    padding: 0 30px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 18px;
}

nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

nav a.menu_selecionado {
    color: rgb(40, 78, 120);
}

#caixa-legenda {
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1000;
    max-height: 200px; /* Altura máxima da caixa (ajuste conforme necessário) */
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid rgba(170, 170, 170, 0.8);
    border-radius: 3px;
}

#titulo-legenda {
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 550;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.item1 {
    /* Estilos específicos para o primeiro item */
    background-color: #e0e0e0; /* Exemplo de cor de fundo */
    padding: 10px; /* Exemplo de preenchimento */
}

.item2 {
    /* Estilos específicos para o segundo item */
    background-color: #c0c0c0; /* Exemplo de cor de fundo */
    padding: 15px; /* Exemplo de preenchimento */
}

.custom-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.custom-item img {
    width: 40px; /* Largura da imagem (ajuste conforme necessário) */
    height: 40px; /* Altura da imagem (ajuste conforme necessário) */
    margin-right: 10px;
}

footer {
    margin: 0;
    padding: 0;
    height: 5vh;
    background-color: rgb(40, 78, 120);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
