#map {
    margin: 0;
    padding: 0;
    height: 75vh;
}

body {
    margin: 0;
    padding: 0;
}

header {
    margin: 0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 112, 150);
}

.logo {
    max-width: 100%;
    height: auto;
}

nav {
    margin: 0;
    padding: 0;
    height: 40px;
    background-color: rgb(120, 180, 210);
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    display: inline-block;
    padding: 0 30px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 18px;
}

nav a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

nav a.menu_selecionado {
    color: rgb(40, 78, 120);
}

.camada_ottobacias {
    fill: rgb(0, 150, 255);
    fill-opacity: 0.05;
    stroke: rgb(255, 255, 255);
    stroke-width: 0.5;
    stroke-opacity: 1;
}

.camada_ottotrechos {
    stroke: rgb(0, 0, 255);
    stroke-width: 1.5;
    stroke-opacity: 0.5;
}

.camada_ottobacias_montante {
    fill: rgb(255, 150, 0);
    fill-opacity: 0.3;
    stroke: rgb(200, 100, 0);
    stroke-width: 1;
}

.legend {
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.legend-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    border: 1px solid #000;
}

.camada_ottobacias.legend-icon {
    background-color: rgb(0, 150, 255);
}

.camada_ottotrechos.legend-icon {
    background-color: rgb(0, 0, 255);
}

.camada_ottobacias_montante.legend-icon {
    background-color: rgb(255, 150, 0);
}
